In [19]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score,confusion_matrix,ConfusionMatrixDisplay

In [2]:
#data set
data= pd.read_csv("seattle-weather-dataset.csv")
data.head(5)

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [3]:
data.shape

(1461, 6)

In [4]:
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [5]:
data.isnull().any()

date             False
precipitation    False
temp_max         False
temp_min         False
wind             False
weather          False
dtype: bool

In [7]:
features=["precipitation","temp_max","temp_min","wind"]

x=data[features]
y=data.iloc[:,5]

In [8]:
x.head(5)

   precipitation  temp_max  temp_min  wind
0            0.0      12.8       5.0   4.7
1           10.9      10.6       2.8   4.5
2            0.8      11.7       7.2   2.3
3           20.3      12.2       5.6   4.7
4            1.3       8.9       2.8   6.1

In [9]:
y

0       drizzle
1          rain
2          rain
3          rain
4          rain
         ...
1456       rain
1457       rain
1458        fog
1459        sun
1460        sun
Name: weather, Length: 1461, dtype: object

# training and testing dataset

In [10]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.3 ,stratify=y, random_state=0)

In [11]:
x_train.shape,y_train.shape , x_test.shape, y_test.shape

((1022, 4), (1022,), (439, 4), (439,))

In [16]:
naiveBayes=GaussianNB
naiveBayes.fit(x_train ,y_train)

AttributeError: 'DataFrame' object has no attribute '_validate_params'

# making predictions

In [17]:
y_preds=naiveBayes.predict(x_test)
y_preds

TypeError: _BaseNB.predict() missing 1 required positional argument: 'X'

# accuracy score

In [ ]:
print("Traning Score (accuracy):",accuracy_score(y_train,naiveBayes.predict(x_train)))
print("testing score (accuracy):",accuracy_score(y_test,y_preds))

# confusio matrix

In [ ]:
confusion=confusion_matrix(y_test,y_preds,labels=naiveBayes.classes_)
display= ConfusionMatrixDisplay(confusion_matrix=confusion,display_labels=naiveBayes.classes_)

display.plot()